.kt-toggle-wrapper {
  display: inline-flex;
  align-items: center;
  margin: 0 5px;
  vertical-align: middle;
  transform: translateY(-1px);
}

/* скрываем input */
.kt-toggle-input {
  position: absolute;
  opacity: 0;
}

/* сам переключатель */
.kt-toggle-label {
  width: 2.2em;
  height: 1.2em;
  background: #6b7280;
  border-radius: 999px;
  position: relative;
  cursor: pointer;
  transition: background 0.2s;
}

/* кружок */
.kt-toggle-label::after {
  content: "";
  position: absolute;
  top: 0.15em;
  left: 0.15em;
  width: 0.9em;
  height: 0.9em;
  background: white;
  border-radius: 50%;
  transition: transform 0.2s;
}

/* включено */
.kt-toggle-input:checked + .kt-toggle-label {
  background: #22c55e;
}

.kt-toggle-input:checked + .kt-toggle-label::after {
  transform: translateX(1em);
}

.kt-toggle-input[data-kt-state="partial"] + .kt-toggle-label {
  background: #f59e0b;
}

.kt-toggle-input[data-kt-state="partial"] + .kt-toggle-label::after {
  transform: translateX(0.5em);
}

.kt-stats {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.kt-block {
  background: #ffffff10;
  padding: 16px;
  border-radius: 12px;
}

.kt-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.kt-metric {
  font-size: 24px;
  font-weight: bold;
}

.kt-recent {
  font-size: 14px;
  color: #9ca3af;
}

.kt-pie-block {
  gap: 20px;
}

.kt-legend {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.kt-legend-item {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #e5e7eb;
}

.kt-color {
  width: 12px;
  height: 12px;
  border-radius: 3px;
}

.kt-stats button {
  align-self: center;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background: #2563eb;
  color: white;
  cursor: pointer;
}

.kt-stats button:hover {
  background: #1d4ed8;
}
